html {
	background:transparent; color:#000;
	overflow:hidden;
	margin:0;
	padding:0;
	font-family:'lucida grande';
	font-size:13px;
}
body {
	margin:20px;
	padding:0;
}
h1,h2,h3,h4,h5,h6 {
	font-family: helvetica;
}
.small {
	font-size:11px;
}
.mini {
	font-size:9px;
}
hr {
	height:1px;
	background-color:#777;
	border:none;
}
button {
	font-size:13px;
	padding-left:1em;
	padding-right:1em;
}
